<div class="container">
	<h1>Your booking with us :</h1>
	<%= simple_form_for [@garden, @booking] do |f| %>
	<div id="dates">
		<p>The date you start renting :</p>
		<%= f.input_field :start_date, :order => [:day, :month, :year] %>
		<br>
	</div>
	<div class="dates">
		<p>The date you finish renting :</p>
		<%= f.input_field :end_date, :order => [:day, :month, :year] %>
	</div>

	<div id="price">
		<p>price per day : <%= @garden.price%>$</p>
	</div>
		<%= f.submit "book",  class: 'bouton' %>
		<% end %>
</div>

<!-- <form action="">
  <input type="date" name="bday">
  <input type="date" name="bday">
</form> -->
