<%= simple_form_for [@garden, @booking] do |f| %>
  <div id="dates">
  <%= f.input_field :start_date, :order => [:day, :month, :year] %>
  <br>
  <%= f.input_field :end_date, :order => [:day, :month, :year] %>
  </div>
  <div id="price">
    <%= @garden.price %>
  </div>
  <%= f.submit "book" %>
<% end %>

<!-- <form action="">
  <input type="date" name="bday">
  <input type="date" name="bday">
</form> -->
