<% @gardens.each do |garden| %>
	<h1><%= garden.title %></h1>
	<p><%= garden.square_meters %></p>
	<p><%= garden.description %></p>
	<%= link_to "remove garden", garden_path(garden), method: :delete%>
    <% if policy(garden).edit? %>
  		<%= link_to "edit garden", edit_garden_path(garden) %>
	<% end %>
<% end %>
