<h1><%= @garden.title %></h1>

<%= cl_image_tag @garden.photo, height: 300, width: 400, crop: :fill %>
<h5><%= @garden.description %></h5>
<div class="address">
  <p>Address: <%= @garden.address  %></p>
  <p>Square meters: <%= @garden.square_meters %></p>
  <p>Price: <%= @garden.price %> €</p>
</div>

<button class="btn-flat">
<%= link_to "Book now", new_garden_booking_path(@garden)  %>
</button>
<button class="btn-flat">
<%= link_to "all gardens", root_path %>
</button>
